{% extends 'shop/base.html' %}
{% block title %}About us{% endblock %}

{% block content %}
    <div class="about"><h2>Hey!</h2>
    <h3>We're SKY-DREAM</h3>
    <p>Sky-Dream was founded in 2016 in Warsaw, Poland by a group of entrepreneurs. </p>
    <p>We’re an optimistic and motivated group of workers dedicated to selling products our customers will use and love.</p>
    <p>We’re all on the front lines of customer service, no matter what role we’re in. We go above and beyond to serve others with high-quality products and hospitality they can rely on. We work hard to leave our customers with a smile.</p></div>
{% endblock %}