{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block css_additional %}
<link rel="stylesheet" href="{% static 'shop/css/forms.css' %}">
{% endblock %}

{% block content %}
    <h2>Write us your message</h2>
    <form action="/contact/" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-style {% if field.errors %} errors {% endif %}">
            {{field.label_tag}}
            {{field.errors}}
            {{field}}
        </div>
        {% endfor %}
        <button type="submit">Send</button>
        <br><br>
    </form>
{% endblock %}