{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Reset password{% endblock %}

{% block css_additional %}
<link rel="stylesheet" href="{% static 'shop/css/forms.css' %}">
{% endblock %}

{% block content %}
<h2>Instructions will be sent to the email</h2>
<form method="post">
    {% csrf_token %}
        <div class="form-style {% if field.errors %} errors {% endif %}">
            {{form}}
        </div>
        <button type="submit">reset password</button>
</form>
{% endblock %}